{% extends '_base.html' %}
<!--title-->
{% block title %} - {{page_title}}{% endblock title %}
<!--static-->
{% load static %}
<!--content-->
{% block content %}
<!-- Main body -->
    <div class="hero-image" style="background-image: {% static 'assets/images/SPC_aboutus.jpg' %}">
		<div class="hero-text">
			<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">About Us</h2>
			<p>The firm comprises of dedicated and experienced	young talented professionals and is assisted by strong committed staff</p>
		</div>
	</div>

	<div class="container mt-3">
		<div class="row">
			<div class="col-md-6 col-lg-6 col-xl-6">
				<h3 class="whoarewe">WHO ARE WE</h3>
				<p>SPC is leading indigenous firm that provides industry focused assurance, tax and advisory services to build public trust and enhance value for its clients and their stakeholders. We guide our clients through business challenges by understanding their needs and bringing together the right team to address them. With experience in-house professionals and associates we can meet your needs.</p>
				<br>
				<p>SPC is an organization committed to helping its clients meet the challenges posed by global economy. We are rich and vast in local and global business knowledge, we possess an enviable breadth and depth of resources with international trainings and knowledge exposure, yet we work locally, bringing appropriate local knowledge and experience to bear and using the depth of our resources to provide a professional service, specifically tailored to meet our clients’ needs. The service we offer to clients is underpinned by our nimbleness, extensive coverage and breadth of skills.</p>
			</div>

			<div class="col-md-6 col-lg-6 col-xl-6 ">
				<img src="images/SPC_about2.jpg" width="100%" height="60%" class="about-image">
				<img src="images/SPC_about3.jpg" width="100%" height=""  class="about-image">
			</div>

		</div>

		<div>
			<h4>Strategy Pros & Cons (SPC)</h4>
			<p>The SPC brand  is based on the integration of three concepts – People, Knowledge and Value: the experience and rich cultural diversity of our people, the boundless knowledge that flows within our organization and between ourselves and our clients, and the value that give context and meaning both to our people and to our clients. The power of our brand only reaches its full potential when these elements come together.</p>
			<p class="mb-4">SPC’S ambition is to be the world’s leading professional services organization, thereby solving complex business problems for top-tier clients in global, national and local markets. In order to succeed in this ambition, we must grow and develop both as individuals and as a business.</p>

			<div class="row vismis mt-3">
				<div class="col vmv me-4">
					<i class="far fa-eye icon"></i>
					<h5>Our Vision</h5>
					<p>SPC’S ambition is to be the world’s leading professional services organization, thereby solving complex business problems</p>
				</div>
				<div class="col vmv">
					<i class="far fa-dot-circle icon"></i>
					<h5>Our Mission</h5>
					<p>SPC’S ambition is to be the world’s leading professional services organization, thereby solving complex business problems</p>
				</div>
			</div>	
		</div>
		<div class="mt-4">
			<h5>Management Team</h5>
			<p>The firm comprises of dedicated and	experienced young talented professionals and is assisted by strong committed staff</p>
			<div class="row mb-5">
				{% for team in teams %}
				<div class="col">
					<!-- Button trigger modal -->
					<img src="{{ team.picture.url }}" width="180" height="230" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal01">

					<!-- Modal -->
					<div class="modal fade" id="exampleModal01" tabindex="-1" aria-labelledby="exampleModalLabel01" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered modal-lg">
							<div class="modal-content">
								  <div class="modal-header">
									<div class="d-block">
										<h5 class="modal-title" id="exampleModalLabel01">{{ team.name }}</h5>
										<h6 class="modal-title">{{ team.position }}</h6>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								  </div>
								  <div class="modal-body">
									{{ team.about }}
								  </div>
							</div>
						  </div>
					</div>
					<h6>{{ team.name }}</h6>
					<h6>{{ team.position }}</h6>
				</div>
				{% endfor %}
				{% comment %} <div class="col">
					<!-- Button trigger modal -->
					<img src="images/SPC_mufu.jpg" width="180" height="230" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal02">

					<!-- Modal -->
					<div class="modal fade" id="exampleModal02" tabindex="-1" aria-labelledby="exampleModalLabel02" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								  <div class="modal-header">
									<div class="d-block">
										<h5 class="modal-title" id="exampleModalLabel02">Adebiyi Abiodun</h5>
										<h6 class="modal-title">Managing Partner</h6>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								  </div>
								  <div class="modal-body">
									<p>Adebiyi brings over 9 years of Audit, Tax and Consulting professional experience saddle with responsibilities including but not limited to dispute advisory services, accounting advisory, internal audits, regulatory compliance reviews, internal control reviews etc.</p>
									<p>He holds a Bachelor of Science in Economics and a MSC in Economics. He is presently a Chartered Accountant (ACA).</p>
									<p> Biodun has worked with Project Wheel Engineering Limited (as an Accountant), Rehoboth Professional Services (Audit & Tax Manager), CDK Integrated Industries Limited (Accountant), Balogun Badejo & Co (Graduate Trainee), Dende Odunsanya & Co (Senior Auditor), Resort Savings & Loans Plc (as a Supervisor, Internal Control an Audit Unit) and Financial Intelligence Unit (as Compliance and Enforcement Officer) where he obtained significant experience. His experience spans across, internal audit, business advisory and accounting advisory. </p>
								  </div>
							</div>
						  </div>
					</div>
					<h6>Adebiyi Abiodun </h6>
					<h6>Managing Partner</h6>
				</div>
				<div class="col">
					<!-- Button trigger modal -->
					<img src="images/SPC_mufu.jpg" width="180" height="230" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal03">

					<!-- Modal -->
					<div class="modal fade" id="exampleModal03" tabindex="-1" aria-labelledby="exampleModalLabel03" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								  <div class="modal-header">
									<div class="d-block">
										<h5 class="modal-title" id="exampleModalLabel03">Deola Bello</h5>
										<h6 class="modal-title">Managing Partner</h6>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								  </div>
								  <div class="modal-body">
									<p>Muftau is a graduate of Accounting from Obafemi Awolowo University where he obtained BSc Accounting. He has over 2 years’ experience in business analysis, financial review, internal control, business restructuring, business process development, project management, ERP support & implementation, enterprise risk management. in various industries that include health, engineering, oil and gas, financial institutions, small and medium scale enterprises. </p>
									<p>He is currently undergoing his (ACCA) Association of Certified Chartered </p>
								  </div>
							</div>
						  </div>
					</div>
					<h6>Deola Bello</h6>
					<h6>Managing Partner</h6>
				</div>
				<div class="col">
					<!-- Button trigger modal -->
					<img src="images/SPC_mufu.jpg" width="180" height="230" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal04">

					<!-- Modal -->
					<div class="modal fade" id="exampleModal04" tabindex="-1" aria-labelledby="exampleModalLabel04" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								  <div class="modal-header">
									<div class="d-block">
										<h5 class="modal-title" id="exampleModalLabel04">Deola Bello</h5>
										<h6 class="modal-title">Managing Partner</h6>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								  </div>
								  <div class="modal-body">
									<p>Muftau is a graduate of Accounting from Obafemi Awolowo University where he obtained BSc Accounting. He has over 2 years’ experience in business analysis, financial review, internal control, business restructuring, business process development, project management, ERP support & implementation, enterprise risk management. in various industries that include health, engineering, oil and gas, financial institutions, small and medium scale enterprises. </p>
									<p>He is currently undergoing his (ACCA) Association of Certified Chartered </p>
								  </div>
							</div>
						  </div>
					</div>
					<h6>Deola Bello</h6>
					<h6>Managing Partner</h6>
				</div> {% endcomment %}
			</div>
		</div>
	</div>
{% endblock content%}