{% extends '_base.html' %}
<!--title-->
{% block title %} - {{page_title}}{% endblock title %}
<!--static-->
{% load static %}
<!--content-->
{% block content %}
<!-- Main body -->

<div class="hero-image insight-head">
  <div class="hero-text">
    <h2
      style="
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
      "
    >
      Insights
    </h2>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    {% for insight in insights %}
    <div class="col-md-6 col-lg-4 col-xl-3 text-sm-center">
      <a href="{{ insight.get_absolute_url }}">
        <img
          src="{{ insight.image.url }}"
          width="250"
          height="150"
          class="mb-2"
        />
        <p id="date_of_pub">{{ insight.date_added }}</p>
        <h2>{{ insight.title }}</h2>
        <p>{{ insight.body|truncatewords:15 }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
