{% extends '_base.html' %}
<!--title-->
{% block title %} - {{page_title}}{% endblock title %}
<!--static-->
{% load static %}
<!--content-->
{% block content %}
<!-- Main body -->

<div class="hero-image" style="background-image: url({% static 'assets/images/SPC_003.jpg' %})">
		<div class="hero-text">
			<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{{ insight.title }}</h2>
		</div>
	</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <h2>{{ insight.title }}</h2>

                <small> Posted at {{ insight.date_added }}</small>
                <p> {{ insight.body }}</p>
            </div>
            <div class="col-lg-4 col-xl-4">
            
            </div>
        </div>
    </div>

{% endblock content %}