{% extends '_base.html' %}
<!--title-->
{% block title %} - {{page_title}}{% endblock title %}
<!--static-->
{% load static %}
<!--content-->
{% block content %}
<!-- Main body -->

    <div class="hero-image tax-head">
		<div class="hero-text">
			<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Tax Advisory</h2>
			<p style="font-size: 18px;">The firm comprises of dedicated and experienced	young talented professionals and is assisted by strong committed staff</p>
		</div>
	</div>

	<div class="container mt-5">
		<p>SPC is full-service provider of tax services and offers solutions to clients in the corporate, individual, Limited Liability Company, Not-for-profit and Partnership income tax areas. </p>
		<p> The primary objectives of our tax services team are to minimize our client’s overall tax burden whenever and wherever possible. In order to achieve this, our tax services are directed towards constructive tax planning beginning early in the year and maintaining close contacts with our clients throughout the year. </p>
		<p> The tax services we offer include not only the preparation and review of tax returns, but also advance planning to minimize future taxes, advice on tax effects of proposed transactions, structuring international business operations and investments. In addition, we have experience in providing assistance and advice in negotiation with tax authorities. </p>
		<p>In a broad sense, we help our clients to:</p>
		<ul>
			<li>Understand and comply with their legal and regulatory obligations for taxation and exchange controls, where applicable;</li>
			<li>Plan their affairs so as to be tax efficient and complaint in the business or other financial decisions they make;</li>
			<li>Understand the tax risks they face and the effectiveness of their organization’s internal controls relating to tax; and</li>
			<li>Resolve tax disputes through domestic law and/or treaty-based dispute resolution mechanism</li>
		</ul>
	</div>

{% endblock content%}