:root{
    --clr-base: #0B2A56;
    --clr-base2: #6F7881;
    --clr-base3: #036FDB;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-base4: #FFC000;
    --background: rgba(31, 64, 110, 0.85);
}

*, *::before, *::after {
    box-sizing: border-box;
    }

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/**********************
        HEADER
**********************/

.content {
    height: 200vh;
    background-image: url(//unsplash.it/1000/1000);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
    }

    /* navigation styles start here */

    header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    }

    /* changed this from the tutorial video to
    allow it to gain focus, making it tabbable */
    .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    }

    .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
    }

    .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
    content: '';
    position: absolute;
    }

    .nav-toggle-label span::before {
    bottom: 7px;
    }

    .nav-toggle-label span::after {
    top: 7px;
    }

    nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    }

    nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

    nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    }

    nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    }

    nav a:hover {
    color: #6F7881;
    }

    .nav-toggle:checked ~ nav {
    transform: scale(1,1);
    }

    .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
    }

    @media screen and (min-width: 800px) {
        .nav-toggle-label {
            display: none;
        }

        header {
            display: grid;
            grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        }
        
        .logo {
            grid-column: 2 / 3;
        }
        
        nav {
            all: unset; 
            position: relative;
            text-align: left;
            transition: none;
            transform: scale(1,1);
            background: none;
            top: initial;
            left: initial;
            grid-column: 3 / 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        nav ul {
            display: flex;
        }
        
        nav li {
            margin-left: 3em;
            margin-bottom: 0;
        }
        
        nav a {
            opacity: 1;
            position: relative;
        }
        
        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background: black;
            position: absolute;
            top: -.75em;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transition: transform ease-in-out 250ms;
        }

        nav a:hover {
        color: #6F7881;
        }
        
        nav a:hover::before {
            transform: scale(1,1);
        }
    }

.about-head{
    background-image: url("./../../images/SPC_aboutus.jpg");
}

.assure-head{
    background-image: url(./../../images/SPC_advisory.jpg);
}

.fin-head{
    background-image: url('/static/assets/images/SPC_fin.jpg');
}

.service-head{
    background-image: url(./../../images/SPC_services.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5rem;
    position: relative;
}

.tax-head{
    background-image: url(./../../images/SPC_tax.jpg);
}

.ita-head{
    background-image: url(./../../images/SPC_ita.jpg);
}

.risk-head{
    background-image: url(./../../images/SPC_risk.jpg);
}

.train-head{
    background-image: url(./../../images/SPC_train.jpg);
}

.hero-image{
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5rem;
    position: relative;
}

.hero-text{
    text-align: start;
    position: absolute;
    padding: 35px;
    background-color: var(--clr-black);
    width: 75%;
    color: white;
    bottom: 0;
}

.hero-text p{
    font-size: 18px;
}

/**********************
        FOOTER
**********************/

.footer-wrapper{
    padding-top: 15px;
    background-color: #1b1b1b;
    color: #a7a7a7;
    font-size: 13px;
}

.footer-container{
    padding-top: 10px;
}

.footer-wrapper .row{
    border-bottom: 1px solid var(--clr-base2);
}

.featured{
    color: var(--clr-white);
}

.foot-about{
    margin-left: 25px;
}

.social svg{
    color: #fff;
    font-size: 18px;
}

.footer-services{
    padding: 0;
}

.footer-services, .footer-child1 ul{
    list-style: none;
    font-size: 16px;
}

.footer-services li a{
    color: var(--clr-base2);
}

.footer-services li a:hover, .footer-child1 ul li a:hover{
    color: var(--clr-base);
}

.footer-child1{
    float: left;
}

.footer-parent{
    display: flex;
    padding: 10px 0 5px 0;
    position: relative;
    background-color: var(--clr-black);
}

.footer-child1 ul li a{
    padding: 10px;
    color: var(--clr-base2);
}


.footer-child2{
    position: absolute;
    right: 20px;
    color: var(--clr-base2);
    font-size: 15px;
}

/**********************
    GENERAL STYLES
**********************/

a{
    text-decoration: none;
    color: var(--clr-black);
}

a:hover{
    text-decoration: none;
    color: var(--clr-black);
}

.mb2{
    margin-bottom: -1px;
}

ul, ol{
    padding-left: initial;
}

/**********************
        INDEX
**********************/

.heading{
    color: var(--clr-base2);
}

.insight_load_btn{
    width: 120px;
    background-color: var(--clr-base3);
    margin: 0 auto;
}

.follow_us{
    background-color: var(--clr-base);
    color: var(--clr-white);
    height: 50px;
    font-size: 25px;
}

.carousel{
    position: relative;
}

.carousel-caption{
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsla(0,0%,100%,.3);
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.carousel-caption::before{
    content: '';
    filter: blur(20%);
}

.ccontact{
    background-color: var(--clr-base2);
    border-radius: 5px;
    border: none;
    height: 30px;
}

.carousel-caption h2{
    color: var(--clr-base4);
}

.carousel-caption p{
    color: var(--clr-black);
    font-size: 18px;
}

.carousel-item img{
    height: 500px;
}

.about-us{
    background-color: var(--clr-base3);
    border-radius: 5px;
    border: none;
    height: 30px;
}

.rounded-circle{
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.index-service{
    color: var(--clr-base);
}

/**********************
        ABOUT
**********************/

.modal-body{
    max-height: calc(100vh - 210px);
    overflow-y: scroll;
}

body .modal-open{
    overflow: scroll;
}

.whoarewe{
    text-decoration: underline;
    color: var(--clr-base);
}

.vmv{
    position: relative;
    border: 2px solid var(--clr-base);
    padding: 20px;
}

.icon{
    position: absolute;
    font-size: 50px;
    top: -25px;
    background-color: var(--clr-white);
    color: var(--clr-base4);
}

/**********************
      SERVICES
**********************/

.service{
    width: 120px;
    border: 2px solid var(--clr-base2);
    margin-bottom: 15px;
}

/**********************
      Contact Us
**********************/

.form-cont{
    width: 37.5rem;
}

textarea{
    vertical-align: top;
    margin-top: 35px;
    margin-left: -70px;
}

.submit{
    border-radius: 5px;
    background-color: var(--clr-base3);
    columns: var(--clr-white);
    height: 40px;
    border: none;
}



/**********************
    SMALL SCREENS
**********************/

@media (max-width: 767px){
    .about-head,.assure-head,.fin-head,.ita-head,.risk-head,.service-head,.tax-head,.train-head{
        background-image: none;
        background-color: var(--clr-base);
        height: 16rem;
        background-size: cover;
        background-repeat: no-repeat;
    } 

    .hero-text p{
        font-size: 15px;
    }

    .hero-text{
        width: 95%;
    }

    .footer-wrapper .row{
        display: block;
        padding: 0 30px;
    }

    .footer-wrapper .row .col{
        padding: 5px 30px;
    }

    .footer-wrapper .row .col .foot-about{
        margin-left: 0;
    }

    .footer-wrapper{
        width: 100vw;
    }

    .footer-parent{
        display: block;
        margin: initial;
    }

    .footer-child2{
        position: initial;
        right: initial;
        text-align: center;
    }

    .footer-child1{
        float: initial;
        position: initial;
        padding: 0 auto;
    }

    

    /* .search-txt{
        display: none;
    } */

}

@media (max-width:576px) {

    .vismis{
        display: block;
        margin: 0 auto;
    }

    .vismis .vmv{
        margin-bottom: 35px;
    }

}
