{% load static %}
<footer class="footer-wrapper">
         <div class="row footer-container">
            <div class="col d-block">
                <img src="{% static 'assets/images/spc_logo02.png' %}" width="" height="100" class="mb-3 foot-about">
                <p class="foot-about">
                    Across SPC, our people have a firm grasp of business principles and processes. Our wide range of services is designed to assist a diverse client base to solve complex business problems and enhance their ability to build value, manage risk and improve performance.
                </p>
            </div>
            <div class="col d-block">
                <h5>SERVICES</h5>
                <hr style="height: 2px; width: 50%; color: #FFC000;">
                <ul class="footer-services">
                    <li><a class="" href="accandass.html">Accounting and Assurance</a></li>
                    <li><a class="" href="fin.html">Financial Advisory</a></li>
                    <li><a class="" href="ita.html">Information Technology Advisory</a></li>
                    <li><a class="" href="risk.html">Risk Advisory</a></li>
                    <li><a class="" href="tax.html">Tax Advisory</a></li>
                    <li><a class="" href="training.html">Training Services</a></li>
                </ul>
            </div>
            <div class="col pe-5">
                <h5>CONTACT US</h5>
                <hr style="height: 2px; width: 50%; color: #FFC000;">
                <div>
                    <p class="d-flex">
                        <svg class="me-2" style="height: auto;" xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="11" r="3" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
                        29 Mobolaji Bank Anthony Way <br> Beside GT bank, Ikeja, Lagos.
                    </p>
                    <p>
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
                        08012345678
                    </p>
                    <p>
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg>
                        strategypandc@gmail.com
                    </p>
                    <p>
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><polyline points="12 7 12 12 15 15" /></svg>
                        Mon-Fri 9:00 to 16:00 
                    </p>
                </div>
                <div class="d-flex social">
                    <a href="" class="me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                    </a>
                    <a href="" class="me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="4" /><circle cx="12" cy="12" r="3" /><line x1="16.5" y1="7.5" x2="16.5" y2="7.501" /></svg>
                    </a>
                    <a href="" class="me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><line x1="8" y1="11" x2="8" y2="16" /><line x1="8" y1="8" x2="8" y2="8.01" /><line x1="12" y1="16" x2="12" y2="11" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
                    </a>
                    <a href="" class="me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" /></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-parent">
            <div class="footer-child1">
                <ul class="d-flex">
                    <li><a href="#">About</a></li>
                    |
                    <li><a href="#">Insights</a></li>
                    |
                    <li><a href="#">Services</a></li>
                    |
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-child2">
                <p> Strategy Pros and Cons &copy; 2021.</p>
            </div>
        </div>    
        </footer>