{% load static %}

<header>
  <a href="{% url 'SPC:index' %}" class="navbar-brand" style="margin: 15px 0">
    <img src="{% static 'assets/images/SPC_logo.png' %}" height="50"
  /></a>
  <input type="checkbox" id="nav-toggle" class="nav-toggle" />
  <nav>
    <ul>
      <li><a href="{% url 'SPC:about' %}">About</a></li>
      <li><a href="{% url 'SPC:insights' %}">Insights</a></li>
      <li><a href="{% url 'SPC:services' %}">Services</a></li>
      <li><a href="{% url 'SPC:contact' %}">Contact Us</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
